<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="http://cdn.repository.webfont.com/wwwroot/js/wf/youziku.api.min.js"></script>
  <script type="text/javascript">
   $webfont.load("body", "9738369e67944065a3edc9990dc32983", "SourceHanSerif-B");
   /*$webfont.load("#id1,.class1,h1", "9738369e67944065a3edc9990dc32983", "SourceHanSerif-B");*/
   /*．．．*/
   $webfont.draw();
  </script>

  {% seo %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- Favicon -->
  <link rel="Shortcut Icon" type="image/x-icon" href="{{ "/assets/imgs/icon/favicon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/imgs/icon/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/imgs/icon/favicon-16x16.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/imgs/icon/apple-touch-icon.png" | relative_url }}">

  <!-- RSS -->
  {% feed_meta %}
</head>
